# Object files
src/*.o
*.o
*.so
*.so.*

# All test executables.
tests/*
!tests/perftest
!tests/nccl
!tests/perftest/*.sh
!tests/nccl/*.sh
!tests/*.txt

# Build artifacts
*.a
*.vscode
*.swp


# Build output directory.
build/
